<?xml version="1.0"?>
<model>
  <name>sih_uav</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>SIH26177 Autonomous Systems Team</name>
    <email>team@sih26177.org</email>
  </author>
  <description>
    Search-and-Rescue Quadrotor UAV equipped with 3D LiDAR, RGB Camera, Depth Camera, GPS, and 6-axis IMU.
  </description>
</model>
